:root {
    --primary: rgb(254, 59, 176);
    --secondary: yellow;
    --third: rgb(120, 240, 240);
    --dark: black;
    --lightdark: lightgrey;
    --light: white;
    --bluez: rgb(98, 194, 253);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: var(--lightdark);
    user-select: none;
}

.outercircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    box-shadow: 8px 0 12px var(--primary);
    border: solid 6px var(--primary);
    background-color: var(--dark);
    transition: background-color linear 4s, border 4s, box-shadow 4s;
}

.outercircle::before {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-image: url(images/plane.jpeg);
    background-size: cover;
    opacity: 0;
    transition: opacity 3s linear;
}

.outercircle:hover {
    box-shadow: 8px 0 12px var(--bluez);
    border: solid 6px var(--bluez);
    background-color: var(--light);
    cursor: pointer;
}

.outercircle:hover::before {
    opacity: 1;
}

.innercircle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px var(--primary);
    background-color: var(--primary);
}

.hour {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 4px;
    height: 70px;
    bottom: 50%;
    border: solid 1px var(--primary);
    background-color: var(--primary);
}

.min {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3px;
    height: 120px;
    bottom: 50%;
    border: solid 1px var(--secondary);
    background-color: var(--secondary);
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2px;
    height: 150px;
    bottom: 50%;
    border: solid 1px var(--third);
    background-color: var(--third);
}

.hour,
.min,
.sec {
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    transition: background-color linear 1s, border linear 1s;
}

.outercircle:hover .hour,
.outercircle:hover .min,
.outercircle:hover .sec {
    background-color: var(--bluez);
    border: solid 1px var(--bluez);
}